{
    // Login token
    "token": "",
    // Command prefix
    "prefix": "/",
    // Text channel where the bot will be listening for commands
    "listenChannel": "",
    // Text channels where hub will be posted
    "games": {
        "mhw": {
            "channels": {
                "xbox": "",
                "ps4": "",
                "pc": ""
            }
        },
        "mh4u": {
            "channel": ""
        },
        "mhxx": {
            "channel": ""
        },
        "mhgu": {
            "channel": ""
        },
        "mhgen": {
            "channel": ""
        }
    },
    // Path to bot avatar
    "avatar": "",
    // Timer (in seconds) for hub deletion
    "timer": 0
}
